<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Birthday!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="box">
      <div class="left-field">
        <img class="image-field" src="./static/images/left-field.svg" alt="" />
      </div>
      <div class="center-field">
        <div>
          <img class="image-title" src="./static/images/bd.svg" alt="" />
        </div>
        <div class="container">
          {% if not header or not body1 %}

          <p>Click the button</p>
          <p>to take my wishes to you!</p>

          {% elif counter % 10 != 0 and counter != 0 %}

          <h1>{{ header }}</h1>
          <p>{{ body1 }}</p>
          <p>{{ body2 }}</p>

          {% else %}

          <p>That's enough ;-)))</p>
          <p>Let's see next year</p>

          {% endif %}
          <form method="POST">
            <button type="submit">Generate Wish</button>
          </form>
        </div>
      </div>
      <div class="right-field">
        <img class="image-field" src="./static/images/right-field.svg" alt="" />
      </div>
    </div>
  </body>
</html>
